:root{
    --size: 80px;
    --margin: 40px;
    --shadow: 1px 2px 8px black;;
}

.btns{
    display: flex;
    width:100px;
    height:300px;
    right: 0;
    bottom: 0;
    margin: 30px;
    position: fixed;
}

.btn1{
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    color: white;
    background-color: rgb(228, 27, 27);
    width:var(--size);
    height:var(--size);
    padding: 12px;

    right: 0;
    bottom: 0;
    margin: var(--margin);

    border-radius: 100%;
    box-shadow: var(--shadow);
}.btn1:hover{ background-color: rgb(230, 55, 55);}

.btn2{
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;

    color: white;
    background-color: rgb(39, 202, 39);
    width:var(--size);
    height:var(--size);

    right: 0;
    bottom: 0;
    margin: var(--margin);
    margin-bottom: 130px;
    
    border-radius: 100%;
    box-shadow: var(--shadow);
}.btn2:hover{ background-color: rgb(23, 177, 23); }

.btn3{
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;

    color: white;
    background-color: rgb(45, 45, 212);
    width:var(--size);
    height:var(--size);

    right: 0;
    bottom: 0;
    margin: var(--margin);
    margin-bottom: 220px;
    
    border-radius: 100%;
    box-shadow: var(--shadow);
}.btn3:hover{ background-color: rgb(26, 26, 173); }